* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #555
}

#app-map {
    width: 100vw;
    height: 100vh
}

#map-control {
    position: absolute;
    top: 5px;
    left: calc(50% - 119px);
    z-index: 999;
    width: 300px;
}

.map-search {
    border-radius: 2px;
    display: flex;
    padding: 5px;
    background-color: #fff;
}

.map-search input {
    width: 85%;
    padding: 8px 12px;
    border: 1px solid #f3f3f3;
}

.map-search .area-slide-up {
    position: absolute;
    right:20%;
    top: -2px;
    cursor: pointer
}

.map-search button {
    flex-grow: 1;
        background-color: #eee;
        border: 1px solid #e3e3e3;
        border-left: none;
    cursor: pointer
}

.map-search button:hover {
    background: linear-gradient(#fff, #eee);
}

.map-search {
        margin-top: 5px;
        padding: 5px;
        background-color: #fff;
}

.map-areas {
    margin-top: 5px
}

.map-areas.hidden {
    height: 0;
}

.map-areas ul {
    margin: 0;
    padding: 0%;
    list-style: none
}

.map-areas ul li {
        background: #eaeaeaf5;
    padding: 10px;
    margin-bottom: 2px;
    cursor: pointer;
    border-left: 8px solid transparent;
    transition: padding-left 0.2s linear;
    color: #795548;
}

.map-areas ul li:hover {
        border-left: 8px solid rgb(24, 129, 199);
        padding-left: 20px;
        background-color: #fbfbfb;
}

.map-areas ul li span.highlight {
    color: #ffc107;
    font-weight: bold
}

#area-info {
    position: fixed;
    bottom: 10px;
    z-index: 5;
    left: 10px;
    width: 300px;
    padding: 10px;
    color: #555;
    font-size: 0.7rem;
    background-color: #fff;
    border-radius: 2px;
     border: 1px solid #eee;
     box-shadow: 5px 5px 16px #ccc;
}

#area-info h3 p {
    color: #009688;
    margin: 0;
    font-size: 0.6rem;
    font-weight: 300;
}

#area-info .loader {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* background-color: #555; */
    border:2px solid transparent;
    border-top-color: rgb(37, 133, 223);
    animation: spin 1s linear infinite 
}

@keyframes spin {
    to{transform: rotate(360deg)}
}

@media (max-width: 450px) {
    #map-control {
        width: 58vw;
        left: 30vw;
    }
    .map-areas ul li {
        font-size: 0.7em
    }
}

#map-err {
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    text-shadow: 1px 1px #fff;
    height: 100vh;
    font-family: sans-serif;
    font-size: 1.5rem;
    text-align: center;
    flex-direction: column
}